<p style="color: green"><%= notice %></p>

<h1>Votings</h1>

<div id="votings">
  <% @votings.each do |voting| %>
    <%= render voting %>
    <p>
      <%= link_to "Show this voting", voting %>
    </p>
  <% end %>
</div>

<%= link_to "New voting", new_voting_path %>
