<h1>新しい投票を作成</h1>

<div class="mt-4">
  <%= render "form", voting: @voting, disable_mode_select: false, show_back: false, disable_choices_change: false %>
</div>

<br>

<div>
  <%= link_to "マイページに戻る", mypage_path %>
</div>
