<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ballot for <%= @address %></h1>
    <p>
      Vote now from this <%= link_to "link", @url %>. Expiration date of this link is set to <%= @exp %>.
    </p>
    <p>
      In the case this email is unexpected, please contact us from here.
    </p>
  </body>
</html>