<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @address %>さん

    <p>
      Anonymous-vote上の投票「<%= @title %>」に変更がありました。
    </p>

    <%= changes %>

  </body>
</html>