<h1> Welcome to Anonymous-vote </h1>

<p>This is an online anonymous vote manager.</p>
<p>To set up a voting, please <%= link_to "sign in", new_user_session_path %>.</p>
<p>Do not have an account? <%= link_to "Sign up", new_user_registration_path %>.</p>