<h1>Anonymous-voteへようこそ!</h1>

<p>オンラインで匿名投票が行えるツールです.</p>
<p>投票を開くには<%= link_to "サインイン", new_user_session_path %>してください.</p>
<% unless current_user %>
  <p>新規アカウント登録は<%= link_to "こちら", new_user_registration_path %>.</p>
<% end %>