<p><%= @resource.name %>さん</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>あなたのアカウントのメールアドレスは<%= @resource.unconfirmed_email %>へと変更されました.</p>
<% else %>
  <p>あなたのアカウントのメールアドレスは<%= @resource.email %>へと変更されました.</p>
<% end %>
