<p><%= @resource.email %>さん</p>

<p>あなたのアカウントのパスワード変更が申請されました. 間違いなければ, 下記のリンクから変更手続きを行ってください.</p>

<p><%= link_to 'パスワードの変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりのない場合は, このメールを無視してください.</p>
<p>上のリンクから設定しない限り, パスワードは変更されませんのでご安心ください.</p>
